[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/StinkflyX
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/StinkflyX
	label-Verified = -1..+1 group user/StinkflyX
	push = group user/StinkflyX
	read = group user/StinkflyX
	rebase = group user/StinkflyX
	removeReviewer = group user/StinkflyX
	submit = group user/StinkflyX
[access "refs/heads/*"]
	create = group user/StinkflyX
	push = +force group user/StinkflyX
	pushMerge = group user/StinkflyX
	read = group user/StinkflyX
[access "refs/tags/*"]
	push = group user/StinkflyX
	push = +force group user/StinkflyX
